@import 'variables';
* {
    box-sizing: border-box;
}

:root {
    // Body background color
    --color-bg: #fafafa;

    // Text color
    --color-text: #0B0B0D;
    --color-label: #616166;

    // Border color
    --color-border: #F5F5F5;

    // Main section background
    --color-surface-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        // Body background color
        --color-bg: #0B0B0D;

        // Text color
        --color-text: #DFDFE6;
        --color-label: #616166;

        // Border color
        --color-border: #222226;

        // Main section background
        --color-surface-bg: #161619;

        .logo {
            filter: invert(100%);
        }
    }
}

html[data-theme='dark'] {

    // Body background color
    --color-bg: #0B0B0D;

    // Text color
    --color-text: #DFDFE6;
    --color-label: #616166;

    // Border color
    --color-border: #222226;

    // Main section background
    --color-surface-bg: #161619;

    .logo {
        filter: invert(100%);
    }
}

body {
    transition: .3s all;
    margin: 0;
    padding: 0;
    background: var(--color-bg);
    font-family: 'Inter',
    sans-serif;
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    border: none;
}

.wrapper {
    max-width: 375px;
    margin: 0 auto;
    padding: 7px;
    
}
.header {
    padding: 60px 23px 0 23px;
    .title {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
    }
    .subtitle {
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
            .link {
                padding-bottom: 5px;
                border-bottom: 1px solid var(--color-border);
                transition: .3s all;
                &:focus {
                    background-color: var(--color-border);
                    outline: none;
                    padding: 8px;
                    border-radius: 8px;
                }
            }
    }
}
.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-bg);
    border-radius: 12px;
    border: 1px solid var(--color-border);
    .select {
        background-color: rgba(255, 255, 255, 0);
        background-image: url(../images/arrow-dark.svg);
        background-position: calc(100% - 20px) calc(100% - 12px);
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: var(--color-label);
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        border: none;
        outline: none;
        border-radius: 8px;
        height: 32px;
        transition: .3s all;
        max-width: 190px;
        &:focus, &:hover {
            outline: none;
            background-color: var(--color-border);
            background-position: calc(100% - 10px) calc(100% - 12px);
            padding-left: 8px;
        }

        option {
            outline: none;
            padding-left: 10px;
            border: 1px solid var(--color-border);
            color: var(--color-label);
        }
    }
    .remove {
        width: 35px;
        height: 35px;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        border-radius: 8px;
        background-color: var(--color-surface-bg);
        transition: .3s all;
            &:focus, &:hover {
                background-color: var(--color-border);
                outline: none;
            }
    }
    .result-wrapper {
        margin-top: 5px;
        display: flex;
        transition: .2s;
        font-size: 22px;
        text-transform: uppercase;

        .result {
            max-width: 87%;
            margin-left: 10px;
            font-size: 22px;
            background-color: var(--color-surface-bg);
            color: var(--color-text);
            border: none;
            outline: none;
                &::selection {
                    color: var(--color-label);
                }
        }
    }
    .active-currency {
        height: 128px;
        padding: 16px 20px;
    }
    .currency:not(:first-child) {
        border-top: 1px solid var(--color-border);
    }
    .currency {
        width: 100%;
        padding: 16px 20px;
        height: 92px;
        max-width: 99.75%;
        transition: .3s all;
        .select-currency {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .add-currency {
        display: flex;
        align-items: center;
        width: 100%;
        border: none;
        border-radius: 0 0 12px 12px;
        outline: none;
        height: 56px;
        padding: 0 23px;
        font-size: 17px;
        line-height: 24px;
        color: var(--color-label);
        border-top: 1px solid var(--color-border);
        background-color: var(--color-surface-bg);
        transition: .3s all;
        &:focus {
            background-color: var(--color-border);
        }
            .plus-icon {
                margin-right: 15px;
            }
    }
}
.footer {
    margin-top: 32px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
        .footer-link {
            font-size: 13px;
            line-height: 24px;  
            color: var(--color-label);
                &:focus {
                    outline: none;
                    border-radius: 8px;
                    padding: 10px;
                    background-color: var(--color-border);
                }
        }
}

@media (min-width: 750px) {
    .wrapper {
        max-width: 738px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .header {
        padding: 80px 0 0 0;
            .subtitle {
                font-size: 17px;
                max-width: 560px;
            }
    }
    .main {
        margin-top: 80px;
        height: 460px;
        flex-direction: row;
            .active-currency {
                flex-basis: 50%;
            }
            .unactive-currency {
                border-left: 1px solid var(--color-border);
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            .add-currency {
                border-radius: 0 0 12px 0;
                max-width: 358px;
                max-height: 54px;
            }
    }
    .footer {
        margin: 140px 0 24px 0;
    }
}
